<%= form_for(@person) do |f| %>
  <%= render "shared/error_messages", :target => @person %>

  <div class="field">
    <%= f.label :party_id, 'Party ID' %><br />
    <% unless @person.new_record? %>
      <%= f.text_field :party_id, 'disabled' => 'true' %>
    <% else %>
      <%= f.text_field :party_id, :value => "auto generated", 'disabled' => 'true' %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
