<h1>Listing clearingouts</h1>

<table>
  <tr>
    <th>Clearing date</th>
    <th>Transaction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clearingouts.each do |clearingout| %>
  <tr>
    <td><%= clearingout.clearing_date %></td>
    <td><%= clearingout.transaction_id %></td>
    <td><%= link_to 'Show', clearingout %></td>
    <td><%= link_to 'Edit', edit_clearingout_path(clearingout) %></td>
    <td><%= link_to 'Destroy', clearingout, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clearingout', new_clearingout_path %>
