<h1>Listing useraccountrights</h1>

<table>
  <tr>
    <th>Useraccount</th>
    <th>Right</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @useraccountrights.each do |useraccountright| %>
  <tr>
    <td><%= useraccountright.useraccount_id %></td>
    <td><%= useraccountright.right_id %></td>
    <td><%= link_to 'Show', useraccountright %></td>
    <td><%= link_to 'Edit', edit_useraccountright_path(useraccountright) %></td>
    <td><%= link_to 'Destroy', useraccountright, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Useraccountright', new_useraccountright_path %>
