<p id="notice"><%= notice %></p>

<p>
  <b>Useraccount:</b>
  <%= @useraccountright.useraccount_id %>
</p>

<p>
  <b>Right:</b>
  <%= @useraccountright.right_id %>
</p>


<%= link_to 'Edit', edit_useraccountright_path(@useraccountright) %> |
<%= link_to 'Back', useraccountrights_path %>
