<h1>Listing emoneyouts</h1>

<table>
  <tr>
    <th>Clearing date</th>
    <th>Transaction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emoneyouts.each do |emoneyout| %>
  <tr>
    <td><%= emoneyout.clearing_date %></td>
    <td><%= emoneyout.transaction_id %></td>
    <td><%= link_to 'Show', emoneyout %></td>
    <td><%= link_to 'Edit', edit_emoneyout_path(emoneyout) %></td>
    <td><%= link_to 'Destroy', emoneyout, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Emoneyout', new_emoneyout_path %>
