<%= form_for(@useraccount) do |f| %>
  <%= render "shared/error_messages", :target => @useraccount %>

  <div class="field">
    <%= f.label :username %><%= mark_required(@useraccount, :username) %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><%= mark_required(@useraccount, :email) %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :person_id, 'Person ID' %><br />
    <%= f.text_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
