<h1>Listing useraccounts</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @useraccounts.each do |useraccount| %>
  <tr>
    <td><%= useraccount.username %></td>
    <td><%= useraccount.email %></td>
    <td><%= link_to 'Show', useraccount %></td>
    <td><%= link_to 'Edit', edit_useraccount_path(useraccount) %></td>
    <td><%= link_to 'Destroy', useraccount, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Useraccount', new_useraccount_path %>
