<h1>Controlpanel</h1>

<%= link_to 'Partyrelationship assignments', relationshipassignment_path %><br />
<%= link_to 'Partyrelationships management', partyrelationships_path %><br />
<%= link_to 'Parties management', parties_path %><br />
<%= link_to 'E-money accounts management', accounts_path %><br />
<%= link_to 'People management', people_path %><br />
<%= link_to 'Useraccounts management', useraccounts_path %><br />
<%= link_to 'Rights management', rights_path %><br />
<%= link_to 'Useraccount rights assignment', rightassignment_path %>