<h1>Controlpanel</h1>

<p>
  <%= link_to 'E-money accounts management', accounts_path %>
</p>
<hr>
<p>
  <%= link_to 'Parties management', parties_path %><br />
  <%= link_to 'Partyrelationship management', relationshipassignment_path %><br />
  <%= link_to 'People management', people_path %>
</p>
<hr>
<p>
  <%= link_to 'Useraccounts management', useraccounts_path %><br />
  <%= link_to 'Useraccount rights assignment', rightassignment_path %>
</p>
<hr>
<p>
  <%= link_to 'Rights management', rights_path %><br />
</p>
<hr>
<p>
  Only for development:
</p>
<p>
  <%= link_to 'Listing Partyrelationships', partyrelationships_path %><br />
</p>
<p>
  <%= link_to 'Listing Requests', applications_path %><br />
  <%= link_to 'E-money account transactions (booking)', transactions_path %>
</p>
<p>
  <%= link_to 'Start clearing-out manually', clearing_out_path %>
</p>