<h1>Listing addresses</h1>

<table>
  <tr>
    <th>Party</th>
    <th>Street</th>
    <th>City</th>
    <th>Country</th>
    <th>Valid since</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr>
    <td><%= address.party_id %></td>
    <td><%= address.street %></td>
    <td><%= address.city %></td>
    <td><%= address.country_id %></td>
    <td><%= address.valid_since %></td>
    <td><%= link_to 'Show', address %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address', new_address_path %>
