<p id="notice"><%= notice %></p>

<p>
  <b>Party:</b>
  <%= @address.party_id %>
</p>

<p>
  <b>Street:</b>
  <%= @address.street %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>Country:</b>
  <%= @address.country_id %>
</p>

<p>
  <b>Valid since:</b>
  <%= @address.valid_since %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
