<p id="notice"><%= notice %></p>

<table>
   <tr>
    <td>Party ID</td>
    <td><%=h @address.party_id %></td>
  </tr>
  <tr>
    <td>Street</td>
    <td><%=h @address.street %></td>
  </tr>
  <tr>
    <td>Housenumber</td>
    <td><%=h @address.housenumber %></td>
  </tr>
  <tr>
    <td>Postal Supplement</td>
    <td><%=h @address.postal_supplement %></td>
  </tr>
  <tr>
    <td>Zipcode</td>
    <td><%=h @address.zipcode %></td>
  </tr>
  <tr>
    <td>City</td>
    <td><%=h @address.city %></td>
  </tr>
  <tr>
    <td>Country ID</td>
    <td><%=h @address.country_id %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
